.profile {
  border-radius: 100%;
  border: 1rem solid #f8f9fa;
  height: 30vh;
  margin-top: -15vh;
}

.icon {
  width: 2rem;
}

.sidebar {
  overflow: auto;
}

.carousel-indicators li {
  border-radius: 100%;
  height: 7px;
  width: 7px;
}

body {
  padding-top: 2rem;
}

.container {
  padding-top: 15vh;
}

h1 {
  color: #1693A5;
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5rem;
  font-weight: 200;
}

h4 {
  color: #FE4365;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.4rem;
  font-weight: 300;
}

.bg-profile {
  background-color: #1693A5;
}

.bg-profile h4 {
  color: #FFFFFF;
}